{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{Year.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="intYear">Year</label>
            <input id="intYear" type="text" class="form-control" placeholder="Year" name="intYear" value="{{Year.intYear}}">
        </div>
        <div class="col">
            <label for="intScore">Year Abbreviation</label>
            <input id="intScore" type="text" class="form-control" placeholder="Score"
                   name="Score" value="{{Year.fldAbbreviation}}">
        </div>
        <div class="col">
            <label for="fldTitle">Year Country</label>
            <input id="fldTitle" type="text" class="form-control" placeholder="Year Country" name="fldTitle" value="{{Year.fldTitle}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}