{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Year</th>
        <th scope="col">Score</th>
        <th scope="col">Title</th>
    </tr>
    </thead>
    <tbody>
    {% for city in cities %}
    <tr>
        <td><a href="view/{{Year.id}}">{{ year.intScore }}</a></td>
        <td>{{ year.intYear }}</td>
        <td>{{ year.intScore }}</td>
        <td>{{ year.fldTitle}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}